body {

  font-family: 'Spectral';
  font-size: 19px;
  margin-left: 150px;
  background-image: url(https://ak3.picdn.net/shutterstock/videos/29434933/thumb/1.jpg);
  background-repeat: no-repeat;
  background-size: 1280px;

}

h1 {
  border-color: white;
  border-style: solid;
  border-radius: 1050px;
  border-length: 200px;
  max-width: 400px;
  padding-left: 20px;
  margin-left: 0px;
  position: relative;
  color: white;

}

#Welcome {
  margin-bottom: 50px;
  margin-left: -50px;
}

.container {
  position: relative;
  max-width: 500px;
  margin-left: 0px;

}

h2 {
  margin-top: 50px;
  position: relative;
  color: white;


}

#rolledScore {
  text-decoration: underline;

}


#ScoreNumbers {
  border-style: solid;
  border-color: white;
  margin-left: -50px;
  text-indent: 50px;
  width: 400px;
  height: 500px;
}

#background-img img{
  position: absolute;
  top: 720px;
  left: -150px;
}

 button {
  height: 200px;
  width: 400px;
  margin-left: 400px;
  margin-top: -800px;
  position: relative;

}

#hold{
  margin-top: -300px;
}
